* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,
body {
    min-height: 100vh;
}
body {
    font-size: 100%;
	color: $N0;
	background-color: $bg-color--body;
	font-family: $font-main;
	font-weight: 400;
	text-transform: uppercase;
	font-size: $H15;
}
a {
    transition: all 300ms ease-in-out;
    color: inherit;
	display: inline-flex;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
		outline: 0px;
	}	
}
// h1, h2, h3, h4, h5, h6 {}
img {
	display: block;
	// width: 100%;
	height: auto;	
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
figure {
	margin: 0;
}
/* width */
// ::-webkit-scrollbar {
//     width: 8px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #eee;
//   }
  
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: $primary-color;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: darken( $primary-color, 6%);
//   }

/* width */
::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	background: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $N0; 
	border-radius: 6px;
	box-shadow: inset 0 0 5px grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: darken( $secondary-color, 6%); 
  }

.container {
	// max-width: 1920px; //1280, 1290
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

.subtitle-left-line {
    color: $N0;
	opacity: 0.5;
	@include text($H22, 400);
    line-height: 1.4;
    text-align: right;
    letter-spacing: 7.33px;
    text-transform: uppercase;
	&:before {
		content: '';
		width: 80px;
		height: 1px;
		background-color: $N0;
		display: inline-block;
		position: relative;
		bottom: 7px;
		right: 23px;
	}
}
.subtitle-right-line {
    color: $N0;
    opacity: 0.5;
    font-size: $H22;
    line-height: 1.4;
    text-align: left;
    letter-spacing: 7.33px;
    text-transform: uppercase;
	@include text($H22, 400);
	&:after {
		content: '';
		width: 80px;
		height: 1px;
		background-color: $N0;
		display: inline-block;
		position: relative;
		bottom: 7px;
		left: 23px;
	}
}
.section-title {
	position: relative;
	z-index: 4;
	h2 {
		@include text($H80, 800);
		line-height: 1;
		max-width: fit-content;
		// transform: translateX(114%);
		padding-left: 210px;
		&:before {
			content: '';
			display: block;
			background-color: $secondary-color;
			width: 80px;
			height: 1px;
			position: relative;
			left: 58%;
		}
	}
	span {
		@include text($H200, 800);
		line-height: 1;
		opacity: 0.02;
		position: absolute;
		left: -5%;
		top: 4%;
		z-index: 1;
	}
}
.section-subtitle {
	@include text($H40, 800);
	line-height: 2;
	text-align: right;
	&--left {
		text-align: left;
	}
	span {
		font-weight: 300;
		opacity: 0.5;
	}
}
.section-btn {
	@include text($H40, 800);
	line-height: 1;
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: fit-content;
	span {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0 18px 0 18px;
		background-color: $secondary-color;
		min-height: 80px;
		margin-left: 20px;
		position: relative;
		&:before {
			content: '';
			width: 20px;
			height: 1px;
			background-color: $N0;
			position: absolute;
    		left: -6%;
		}
		img {
			display: inline-flex;
			margin-left: 16px;
		}
 	}
}
