$map-width: 70%;

.header {
    position: relative;
    min-height: 100vh;
    // padding-bottom: 32px;
    &__map {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        width: 60%;
        height: 30%;
        display: none;

        @include media($screen-iphone-plus) {
            display: block;
        }
        @media (min-height: 600px) {
            width: 50%;
            height: 25%;
        }

        // width: 1000px;
        // height: 496px;
        @media (min-height: 900px) {
            width: #{$map-width};
            height: #{$map-width} / 2;
        }
    }
    &__sidebar {
        width: 20%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
        border-right: 1px solid rgba($N0, 0.25);
        min-height: 100vh;
        text-align: center;
        @include flex-col(space-between, center);
        padding-bottom: 32px;
        @include media($screen-tablet) {
            width: 11.5%;
        }
    }
    &__logo {
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }
    &__title {
        @include text($H100, 800);
        line-height: 0.8;
        opacity: 0.07;
        max-width: 34%;
        position: absolute;
        top: -6px;
        left: -20px;
        z-index: 4;
        @include media($screen-tablet) {
            @include text($H150, 800);
        }
        @include media($screen-netbook) {
            @include text($H200, 800);
        }
    }
    &__menu {
        margin-bottom: 10px;
    }
    &__list {
        @include flex-row(space-around, center);
        flex-wrap: wrap;

        @media (min-height: 770px) {
            @include flex-col(space-between, center);
        }
    }
    // &__item {
    //     &:nth-child(2),
    //     &:nth-child(3) {
    //         margin-top: 6px;
    //     }
    // }
    &__item {
        margin-bottom: 10px;
        @media (min-height: 630px) {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (min-height: 880px) {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__link {
        max-width: fit-content;
        @include flex-col(center, center);
        &-descr {
            display: block;
            padding-top: 6px;
            letter-spacing: 3px;
            line-height: 1;
            @include text($H12, 500);
            text-transform: capitalize;
        }
    }
    &__search {
        margin-bottom: 20px;
        cursor: pointer;
        &-input {
            display: none;
        }
        &-input-btn {
            display: none;
        }
    }
    &__date {
        margin-bottom: 20px;
        &-day {
            @include text($H50, 800);
            line-height: 1;
            margin-bottom: 12px;

            @media (min-height: 690px) {
                @include text($H72, 800);
            }
            @include media($screen-tablet-small) {
                @include text($H72, 800);
            }
        }

        &-month {
            @include text($H16, 300);
            line-height: 1;
            letter-spacing: 1.4px;
        }
    }
    &__location {
        display: none;
        @include text($H12, 300);
        letter-spacing: 1.05px;
        line-height: 1;
        text-transform: capitalize;
        &:before {
            content: "";
            display: inline-block;
            background-image: url("../img/icons/location.svg");
            position: relative;
            right: 8px;
            top: 4px;
            width: 11px;
            height: 13px;
        }
        @media (min-height: 680px) {
            display: block;
        }
    }
    &__arrow-down {
        position: absolute;
        left: 245%;
        bottom: 42px;

        @include media($screen-tablet) {
            left: 435%;
        }
        @include media($screen-tablet-large) {
            left: 140%;
        }
    }
}

.slick-initialized .slick-slide {
    display: flex;
}
.slider {
    // &.slick-slider {
    //     display: flex;
    // }
    // max-width: 1310px;
    &__item {
        min-height: 100vh;
        background: url("../img/header-bg.jpg") center no-repeat;
        background-size: cover;
        // position: relative;
        padding-bottom: 40px;
        padding-right: 15px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 115px;

        &:nth-child(2) {
            // box-shadow: 50px 50px 150px 80px #000 inset, -50px -50px 150px -80px #000 inset;
            box-shadow: 40px 30px 150px 60px $N00 inset,
                -40px -40px 150px -60px $N00 inset;
            background: url("../img/header-slide-2.jpg") center no-repeat;
            background-size: cover;
            &:after {
                content: "";
                background-color: rgba($N00, 0.3);
                position: absolute;
                appearance: none;
                @include position;
            }
        }
        &:nth-child(3) {
            box-shadow: 40px 30px 150px 60px $N00 inset,
                -40px -40px 150px -60px $N00 inset;
            background: url("../img/header-slide-3.jpg") center no-repeat;
            background-size: cover;
            &:after {
                content: "";
                background-color: rgba($N00, 0.3);
                position: absolute;
                @include position;
                appearance: none;
            }
        }
        &:nth-child(4) {
            box-shadow: 40px 30px 150px 60px $N00 inset,
                -40px -40px 150px -60px $N00 inset;
            background: url("../img/header-slide-4.jpg") center no-repeat;
            background-size: cover;
            &:after {
                content: "";
                background-color: rgba($N00, 0.3);
                position: absolute;
                @include position;
                appearance: none;
            }
        }
        // &:nth-child(3) {}
        @media (min-height: 700px) {
            justify-content: flex-end;
            align-items: flex-end;
        }

        &-info {
            text-align: right;
            z-index: 10;
            @media (min-height: 700px) {
                text-align: right;
            }
        }
        &-title {
            @include text($H80, 800);
            line-height: 1;
            margin-bottom: 48px;
            max-width: 80%;
            margin-left: auto;
            @include media(690px) {
                max-width: initial;
            }
        }
        &-subtitle {
            margin-bottom: 14px;
        }
        // &-subtext {

        // }
        &-text {
            margin-bottom: 25px;
        }
        &-link {
            width: 24px;
            text-align: left;
            width: fit-content;
            img {
                width: 24px;
            }
        }
    }
}

.slider-arrow {
    position: absolute;
    width: 24px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
    &--right {
        right: 15px;
    }
    &--left {
        right: 60px;
    }
}
.slider-dots {
    display: none;
    position: absolute;
    right: 15px;
    bottom: 32px;
    // max-width: 920px;
    max-width: 70%;
    width: 100%;
    color: $N0;
    & .slick-track {
        display: flex;
    }
    @include media($screen-tablet-large) {
        display: block;
    }

    &__item {
        height: 44px;
        outline: none;
        flex: 1 1 25%;
        max-width: 25%;
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        &-wrapper {
            width: 100%;
            border-top: 4px solid $N0;
            padding-top: 6px;
            @include flex-row(space-between, center);
            &:last-child {
                margin-right: 0;
            }
        }
        &-number {
            @include text($H24, 800);
        }
        &-name {
            @include text($H16, 300);
            text-transform: capitalize;
        }
        &.slick-current {
            .slider-dots__item-wrapper {
                border-top: 4px solid $secondary-color;
            }
        }
    }
}
